* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-size: 1.6em;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b2d9fa;
}

.title {
  margin-top: 5vh;
}

.emotions-imgs {
  max-width: 50vw;
  margin-top: 10vh;
  margin-left: -7vw;
}

.face-icon {
  background-color: #fff;
  border-radius: 50%;
  margin-left: 3vw;
}
.face-icon:hover {
  background-color: #ffdfb9;
}

.mood-entries {
  height: 40vh;
  width: 60vw;
  background-color: #fff;
  border: 2px solid black;
  margin-top: 2vh;
  overflow: scroll;
}

.sad,
.happy,
.inLove,
.anxious {
  font-size: 1.2em;
  border-bottom: 1px solid black;
  padding: 10px;
}

.sad {
  background-color: #dbdbdb;
}
.happy {
  background-color: #a2fbbb;
}

.inLove {
  background-color: #ffa3eb;
}
.anxious {
  background-color: #f7f9ab;
}
